<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <!--*****************************************************************-->
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    <!--*****************************************************************-->
  </configSections>
  <connectionStrings>
    <!--*****************************************************************-->
    <!--SIPSDesa / SIPS-->
    <!--<add name="RisConnectionString" connectionString="Server=10.1.232.15; Database=SIPS;User ID=sa;Password=ssecure; Trusted_Connection=False;" />-->
    <!--<add name="RisConnectionString" connectionString="Server=10.1.232.230; Database=SIPS;User ID=sa;Password=ssecure; Trusted_Connection=False;" />-->
    <!--<add name="RisConnectionString" connectionString="Server=10.1.232.8; Database=SIPS;User ID=sa;Password=ssecure; Trusted_Connection=False;"/>-->
    <add name="RisConnectionString" connectionString="Server=./; Database=SIPS; Integrated Security=true;" />
    <!--*****************************************************************-->
  </connectionStrings>
  <!--*****************************************************************-->
  <SubSonicService defaultProvider="RisProvider" enableTrace="false" templateDirectory="">
    <providers>
      <clear/>
      <add name="RisProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="RisConnectionString" generatedNamespace="DalRis" generateLazyLoads="true" includeTableList="*" includeSpsList="*" includeViewList="*"/>
    </providers>
  </SubSonicService>
  <!--*****************************************************************-->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <authentication mode="None"/>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>